allow untrusted_app block_device:dir open;
allow untrusted_app block_device:dir read;
allow untrusted_app device:dir open;
allow untrusted_app device:dir read;
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app rootfs:dir open;
allow untrusted_app rootfs:dir read;
allow untrusted_app sysfs:file getattr;
allow untrusted_app sysfs:file read;
allow untrusted_app sysfs:file open;
allow untrusted_app tombstone_data_file:dir getattr;
allow untrusted_app unlabeled:dir getattr;
allow untrusted_app untrusted_app:udp_socket ioctl;
